.player-connect-row-status {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  font-size: 0.8em;
  font-weight: bold;
  color: var(--color-brown-dark);
  user-select: none;
  pointer-events: none;
}
