.progress-button {
  width: 100%;
  font-size: 1rem;
  font-family: var(--font-serif);
  border-radius: 8px;
  border: 0;
  background-color: var(--color-background-dark);
  transition: 0.3s ease-in-out all;
  color: var(--color-text);
  padding: 0.75em 1em;
}

.progress-button:disabled {
  opacity: 0.2;
}

.progress-button:not(:disabled):hover {
  background: linear-gradient(
    90deg,
    var(--color-dark-active) 100%,
    var(--color-background-dark) 100%
  ) !important;
  cursor: pointer;
}
