:root {
  --color-text: #f3eae1;
  --color-background: #65574c;
  --color-background-dark: #433a32;
  --color-background-accent: #c9ac92;
  --color-alert: #b51c17;
  --color-active: #fcd041;
  --color-dark-active: #161615;

  --font-serif: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  --font-script: "WindSong", cursive;
}

html {
  box-sizing: border-box;
  overscroll-behavior: none;
  touch-action: none;
  user-select: none;
}

body {
  margin: 0;
  height: 100svh;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  position: relative;
}

fieldset > label {
  user-select: none;
  pointer-events: none;
  background-color: var(--color-background-dark);
  padding: 0.25em 0.75em;
  border-radius: 8px;
  display: inline-block;
  z-index: 1;
  position: relative;
}

fieldset > input,
.input {
  font-family: var(--font-serif);
  display: block;
  border-radius: 8px;
  border: 0px none;
  background-color: var(--color-text);
  color: var(--color-dark-active);
  margin-top: -0.75rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  padding: 0.7rem 1rem 0.5rem 1rem;
  font-size: 1rem;
  width: 14rem;
  min-height: 1.2em;
}

fieldset > input:disabled {
  opacity: 0.2;
}

fieldset > .gamepad-buttons {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 1;
  margin: 0;
}
